/* src/index.css */
@import "tailwindcss";

/* small MVP defaults */
html,body,#root { height: 100%; background:#000; color:#fff; }
::placeholder { opacity: 1; color: color-mix(in oklab, white 40%, transparent); }
